@charset "utf-8"
@import url(https://fonts.googleapis.com/css?family=Quicksand);

html, body, .wrapper {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background: #E5E5E5;
}

.header {
  padding: 32px;
  box-sizing: border-box;
  width: 100%;
}

.title {
  font-family: Quicksand;
  font-size: 64px;
  color: #9B9B9B;
  text-align: center;
}

.subtitle {
  font-family: Quicksand;
  font-size: 32px;
  color: #C6C6C6;
  text-align: center;
}
