@charset "utf-8";
@import url(//fonts.googleapis.com/css?family=Quicksand);

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

html {
  min-height: 100%;
  height: 100%;
}

body {
  display: flex;
  flex-flow: column;
}

html, body {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background: #E5E5E5;
}

.header, .wrapper, .footer {
  box-sizing: border-box;
  width: 100%;
}

.header {
  padding: 24px;
}

.title, .subtitle {
  font-family: "Quicksand";
  text-align: center;
  margin: .25em;
}

.title {
  font-size: 64px;
  color: #9B9B9B;
}

.subtitle {
  font-size: 32px;
  color: #C6C6C6;
}

.footer {
  padding: 24px;
}

.wrapper {
  flex: 1;
}
